<div class="container">
  <h1 class="text-danger text-center">Welcome to {{ title }}!</h1>
  <hr />

  <div *ngIf="!moodResults">
    <div>
      <div><small class="text-info">What is your mood today?</small></div>
      <div *ngFor="let moodValue of moodValues | keyvalue: asIsOrder">
        <div class="row btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <input type="radio" name="options" [value]="moodValue.key"
            (change)="onMoodSelectionChange(moodValue.key)" autocomplete="off">{{ moodValue.value }}
            </label>
          </div>
      </div>
    </div>

    <div><small class="text-info">Comment:</small></div>
    <div>
      <textarea
        [value]="commentInput"
        (input)="onCommentChange($event)"
        rows=5
        cols=80></textarea>
    </div>

    <div *ngIf="moodInput" id="submitbtn">
      <button type="button" class="btn btn-outline-success" (click)="submitMood();">Submit</button>
    </div>
  </div>

  <div *ngIf="hasAlreadySubmitted">
    <div><small class="text-info">Sorry, you have already submitted your response for
      today, try again tomorrow!</small></div>
  </div>

  <div *ngIf="hasSubmitted">
    <div><small class="text-info">Your submission has been recorded, thank you!</small></div>
  </div>

  <div *ngIf="moodResults">
    <div *ngIf="getDevMode()" id="resetbtn">
     <button type="button" class="btn btn-outline-success" (click)="reset();">Reset</button>
    </div>

    <div><small class="text-info">Overall Team Mood</small></div>
    <div><small class="text-info">Date: {{moodResults.date}}</small></div>
    <div><small class="text-info">Summary:</small></div>
    <table class="table table-bordered table-hover">
      <thead>
        <th>Mood</th>
        <th>Count</th>
      </thead>
      <tbody>
        <tr *ngFor="let mood of moodResults.moods | keyvalue: asIsOrder">
          <td>{{moodValues.get(mood.key)}}</td>
          <td>{{mood.value}}</td>
        </tr>
      </tbody>
    </table>

    <div><small class="text-info">Comments:</small></div>
    <tr *ngFor="let verbatim of moodResults.verbatims | keyvalue: asIsOrder">
      <div><small class="text-info">Mood: {{moodValues.get(verbatim.key)}}</small></div>
      <table class="table table-bordered table-hover">
        <thead>
          <th>Comment</th>
        </thead>
        <tbody>
          <tr *ngFor="let comment of toArray(verbatim.value)">
            <td>{{comment}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>