<div class="container">
  <h1 class="text-danger text-center">Welcome to {{ title }}!</h1>
  <hr />

  <div *ngIf="!moodResults">
    <div><small class="text-info">Mood entry form</small></div>

    <div id="submitbtn">
      <button type="button" class="btn btn-outline-success" (click)="submitMood();">Submit</button>
    </div>
  </div>

  <div *ngIf="moodResults">
    <div><small class="text-info">Date: {{moodResults.date}}</small></div>
    <div><small class="text-info">Summary:</small></div>
    <table class="table table-bordered table-hover">
      <thead>
        <th>Mood</th>
        <th>Count</th>
      </thead>
      <tbody>
        <tr *ngFor="let mood of moodResults.moods | keyvalue">
          <td>{{mood.key}}</td>
          <td>{{mood.value}}</td>
        </tr>
      </tbody>
    </table>
    <div><small class="text-info">Comments:</small></div>
    <tr *ngFor="let verbatim of moodResults.verbatims | keyvalue">
      <div><small class="text-info">Mood: {{verbatim.key}}</small></div>
      <table class="table table-bordered table-hover">
        <thead>
          <th>Comment</th>
        </thead>
        <tbody>
          <tr *ngFor="let comment of toArray(verbatim.value)">
            <td>{{comment}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
